* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #0a0a14;
}

#game-container {
  width: 100%;
  height: 100%;
  position: relative;
}

canvas {
  display: block;
}
